<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALL cats</title>
</head>
<body>
     <h1> All the cats!!</h1> 
    <!-- <p> <%= cats %></p> -->
    <!-- <ul>
       <li> Monty</li>
       <li> Blue</li>
    </ul> -->
    <ul>
    <% for(let cat of cats){ %>
        <li> <%=cat %> </li>
    <%} %>
</ul>
</body>
</html>