<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> The Home Page  <%= 'Hello world'.toUpperCase() %> </h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat pariatur et animi sit eaque esse quidem at maxime rem necessitatibus atque, laudantium corrupti asperiores quam voluptas cum impedit nam voluptate?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, ipsum eos? Tempore, molestias saepe numquam dolor fuga quis consequuntur aut ratione doloribus! Vitae maiores vel nesciunt illo aliquam deserunt atque.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero totam aliquam corporis numquam neque a voluptatibus aspernatur ipsum tempora explicabo. Enim repellat delectus unde sed dolorem animi ipsam debitis laborum?
    </p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus porro blanditiis sint quaerat distinctio neque totam doloremque nisi! Cupiditate neque consequatur harum? Maiores quae ex exercitationem tenetur. Facilis, maxime debitis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, non voluptatem magni incidunt iusto similique optio culpa quod iure maiores consequatur sed vero odit sapiente quos officiis. Ipsum, facere est!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem aut alias tenetur nam autem repellendus obcaecati repudiandae sint molestiae, corrupti iusto incidunt soluta commodi ipsa, similique eius. In, possimus incidunt.
    </p>
</body>
</html>